.blogCard{
  position: relative;
  width: 350px;
  height:300px;
  background:rgba(196, 196, 196, 0.9019607843);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
@media screen and (min-width:768px) {
  width: 280px;
  
}
 &:hover .blogCardTiter{
  bottom: 50%;
  background:rgba(196, 196, 196, 0.9019607843);
 }
  &:hover{
   transform: scale(1,1.3);

  }
  .blogImage{
    position: absolute;
    top:20px;
    width: 90%;
    height: 200px;
    background: #000;
    border-radius: 15px;
    transition: .4s;
    overflow: hidden;
    opacity: .6;
    >img{position: absolute;top: 0;left: 0;width: 100%;
    height: 100%;z-index: 500;
  object-fit: cover;}
  }
  &:hover .blogImage{
    top:-100px;
   transform: scale(.8,.7);
   opacity: 1 !important;

  }
  .blogContent{
    position: absolute;
    width: 100%;
    text-align: justify;
    top:250px;
    overflow: hidden;
    height: 35px;
    transition: .3s;
    direction: rtl;
 
 span{  background:rgba(196, 196, 196, 0.9019607843);}
  }
  &:hover .blogContent{
    top: 100px;
    height: 200px;
    background: #fff;
  }
  .blogCardTiter{
    position: absolute;
    bottom: 7%;
    font-family: var(--fontTiter2); 
    z-index: 100;
    background: #fff;
    font-size: 1rem;
   }
   &:hover{z-index: 500;}
   &:hover .blogContentBox{
        top: 30% !important;
   }
}
