.popular{
    font-family:var(--fontText) ;
    
    .popularTiter{
        font-family: var(--fontTiter2);
        &>p{direction: rtl;font-family: var(--fontText);text-align: justify;font-weight: bold;}
    }

    .popularContent{
        @media screen and (min-width:768px){
            .cards{
            
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) !important ;
                column-gap: 20px;
            }    
             
    }
}

}